/***********************************************/
/* emx_nav_left.css                            */
/* Use with template Halo_leftNav.html         */
/***********************************************/

/***********************************************/
/* HTML tag styles                             */

/************************************/
body{
	font-family: Arial,sans-serif;
	color: #333333;
	line-height: 1.166;	
	margin: 0px;
	padding: 0px;
	background-color: #cccccc;
	background-image:  url("bg_grad.jpg");
	background-attachment: fixed;
}


/************************************/

/************************************/
/* hyperlink and anchor tag styles  */
/************************************/

a{
	color: #005FA9;
	text-decoration: none;
}

a:link{
	color: #005FA9;
	text-decoration: none;
}

a:visited{
	color: #005FA9;
	text-decoration: none;
}

a:hover{
	color: #005FA9;
	text-decoration: underline;
}

/************************************/


/************************************/
/* Header tag styles                */
/************************************/

h1{
 font-family: 'Vonness Medium',Arial,sans-serif;
 font-size: 120%;
 color: #334d55;
 margin: 0px;
 padding: 0px;
}

h2{
 font-family: Arial,sans-serif;
 font-size: 114%;
 color: #006699;
 margin: 0px;
 padding: 0px;
}

h3{
 color: #334d55;
 margin: 0px;
 padding: 0px;
}

h4{
 font-family: Arial,sans-serif;
 font-size: 100%;
 font-weight: normal;
 color: #333333;
 margin: 0px;
 padding: 0px;
}

h5{
 font-family: 'Vonness Medium',Arial,sans-serif;
 font-size: 100%;
 color: #334d55;
 margin: 0px;
 padding: 0px;
}


/************************************/

/************************************/
/* List Tags                        */
/************************************/

ul{
 list-style-type: square;
}

ul ul{
 list-style-type: disc;
}

ul ul ul{
 list-style-type: none;
}


/************************************/

/************************************/
/* Form and related Tags            */
/************************************/  
label{
 font-family: Arial,sans-serif;
 font-size: 100%;
 font-weight: bold;
 color: #334d55;
}
				
input{
font-family: Arial,sans-serif;
}
/************************************/


/* HTML tag styles                             */
/***********************************************/



/***********************************************/
/* Layout Divs                                 */

/************************************/
#pagecell1{
	position:absolute;
	top: 181px;
	left: 22px;
	right: 2%;
	width:95.6%;
	background-color: #F4F4F4;
	/*background-image:  url("bg_grad2.jpg");*/
	
}

#tl {
	position:absolute;
	top: -1px;
	left: -1px;
	margin: 0px;
	padding: 0px;
	z-index: 100;
}

#tr {
	position:absolute;
	top: -1px;
	right: -1px;
	margin: 0px;
	padding: 0px;
	z-index: 100;
}

/************************************/

/************************************/
#masthead{
	position: absolute;
	top: 0px;
	left: 2%;
	right: 2%;
	width:95.6%;
		
}

/************************************/



/************************************/
#pageNav{
	position: absolute;
	top: 74px;
	left: 0px;
	width:178px;
	padding: 0px;
	background-color: #F4F4F4;
	border-bottom: 1px solid #cccccc;
	font-family: Verdana,sans-serif;
	font-size: 10pt;
}
/************************************/



/************************************/
#col2{
	margin:0px 0px 0px 178px;
	padding: 0px 10px 0px 0px;
	border-left: 1px solid #ccd2d2;
}
/************************************/


/* End Layout Divs                             */
/***********************************************/



/***********************************************/
/*Component Divs                               */

/************************************/
#siteName{
	margin: 0px;
	padding: 16px 0px 8px 0px;
	color: #ffffff;
	font-weight: normal;
}

/************************************/

#utility{
	font-family: Verdana,sans-serif;
	font-size: 9pt;
	position: absolute;
	top: 16px;
	right: 0px;
	color: #919999;
}

#utility a{
	color: #ffffff;
}

#utility a:hover{
	text-decoration: underline;
}

/************************************/
#pageName{
	padding: 0px 0px 14px 10px;
	margin: 0px;
	border-bottom:1px solid #ccd2d2;
}

#pageName h2{
	font-family: Arial,sans-serif;
	font-size: 21pt;
	color: #000000;
	margin:0px;
	padding: 0px;
}

#pageName img{
	position: absolute;
	top: 0px;
	right: 6px;
	padding: 0px;
	margin: 0px;
}

/************************************/


/************************************/
#globalNav{
	position: absolute;
	width: 100%;
	min-width: 640px;
	height: 32px;
	color: #cccccc;
	padding: 0px;
	margin: 0px;
	background-image:  url("glbnav_background.gif");
	left: -3px;
}



#globalNav img{
	margin-bottom: -4px;
 
}

#gnl {
	position: absolute;
	top: 0px;
	left:0px;
}

#gnr {
	position: absolute;
	top: 0px;
	right:0px;
	left: 986px;
}

#globalLink{
	position: absolute;
	top: 5px;
	height: 22px;
	min-width: 640px;
	padding: 0px;
	margin: 0px;
	left: 9px;
	z-index: 100;
}


a.glink:link{
  	font-size: 10pt;
  	color: #000000;
	font-weight: bold;
	margin: 0px;
	padding: 2px 5px 4px 5px;
	border-right: 1px solid #8FB8BC;
}

a.glink:visited{
	font-size: 10pt;
	color: #000000;
	font-weight: bold;
	margin: 0px;
	padding: 2px 5px 4px 5px;
	border-right: 1px solid #8FB8BC;
}

a.glink:hover{
  	font-size: 10pt;
	margin: 0px;
	font-weight: bold;
	padding: 2px 5px 4px 5px;
  	background-image:  url("glblnav_selected.gif");
	border-right: 1px solid #8FB8BC;
	text-decoration: none;
	color: #000000;
}



/************************************/


/************************************/
.subglobalNav{
	position: absolute;
	top: 84px;
	left: 0px;
	/*width: 100%;*/
	min-width: 640px;
	height: 20px;
	padding: 0px 0px 0px 10px;
	visibility: hidden;
	color: #ffffff;

}

.subglobalNav a:link{
	font-size: 80%;
	color: #ffffff;
}

.subglobalNav a:visited{
	font-size: 80%;
	color: #ffffff;
}

.subglobalNav a:hover{
	font-size: 80%;
	color: #cccccc;
}
/************************************/

/************************************/
#search{
	position: absolute;
	top: 5px;
	right: 10px;
	z-index: 101;
}

#search input{
  font-size: 70%;
  margin: 0px  0px 0px 10px;
 }
 
#search a:link{
  font-size: 80%;
	font-weight: bold;
	
}

#search a:visited{
  font-size: 80%;
	font-weight: bold;
	
}

#search a:hover{
  font-size: 80%;
	margin: 0px;
	font-weight: bold;
	
}


/************************************/

/************************************/
#breadCrumb{
	padding: 5px 0px 5px 10px;
	font-family: Verdana,sans-serif;
	font-size: 10pt;
	color: #AAAAAA;
}

#breadCrumb a{
	color: #AAAAAA;
}

#breadCrumb a:hover{
	color: #005FA9;
	text-decoration: underline;
}

/************************************/


/************************************/
.feature{
	padding: 0px 0px 10px 10px;
	font-size: 80%;
}

.feature h3{
	font-family: Arial,sans-serif;
	font-size: 15pt;
	font-weight: bold;
	color: #000000;
	padding: 30px 0px 5px 0px;
}

.feature img{
	float: left;
	padding: 0px 10px 0px 0px;
}

/************************************/



/************************************/
.story{
	clear: both;
	padding: 10px 0px 0px 10px;
	font-size: 80%;
}

.story h3{
	font-family: Arial,sans-serif;
	font-size: 15pt;
	font-weight: bold;
	color: #000000;
}

.story p{
padding: 0px 0px 10px 0px;

}

.story a.capsule{
	font-family: Arial,sans-serif;
	font-size: 12pt;
	color: #005FA9;
	display:block;
	padding-bottom: 5px;
	font-weight: bold;
}

.story a.capsule:hover{
	text-decoration: underline;
}

td.storyLeft{
	padding-right: 12px;
}
/************************************/




/************************************/
#siteInfo{
	clear: both;
	border-top: 1px solid #cccccc;
	font-size: 75%;
	color: #cccccc;
	padding: 10px 10px 10px 10px;
}

#siteInfo img{
	padding: 4px 4px 4px 0px;
	vertical-align: middle;
}
/************************************/

/************************************/
#sectionLinks{
	margin: 0px;
	padding: 0px;
	font-size: 10pt;
}

#sectionLinks h3{
	padding: 10px 0px 2px 10px;
	border-bottom: 1px solid #cccccc;
	font-size: 10pt;
}

#sectionLinks a:link{
	display: block;
	border-top: 1px solid #ffffff;
	border-bottom: 1px solid #cccccc;
	background-color: #F4F4F4;
	/*background-image:  url("bg_nav.jpg");*/
	font-weight: bold;
	padding: 3px 0px 3px 10px;
	color: #21536A;
}

#sectionLinks a:visited{
	display: block;
	border-top: 1px solid #ffffff;
	border-bottom: 1px solid #cccccc;
	background-color: #F4F4F4;
	/*background-image:  url("bg_nav.jpg");*/
	font-weight: bold;
	padding: 3px 0px 3px 10px;
	color: #21536A;
}

#sectionLinks a:hover{
	display: block;
	border-top: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
	background-color: #FFFFFF;
	background-image: none;
	padding: 3px 0px 3px 10px;
	font-weight: bold;
	text-decoration: none;
}
/************************************/



/************************************/
.relatedLinks{
	margin: 0px;
	padding: 0px 0px 10px 10px;
	border-bottom: 1px solid #cccccc;
}

.relatedLinks h3{
	padding: 10px 0px 2px 0px;
	font-size: 10pt;
}

.relatedLinks a{
	display: block; 
}
/************************************/



/************************************/
#advert{
	padding: 10px;
}

#advert img{
	display: block;
}
/************************************/



/***********************************************/
/*End Component Divs                           */
/***********************************************/
